<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JomboneTestSuite">

	<listeners>

		<listener class-name="com.utilities.Reporting" />
	</listeners>

	<test name="TestNGTest1" thread-count="5">
		<classes>
			<!-- packagename.classname -->
			  <class name="com.testCases.JMB_CASignUp_001" />
               <class name="com.testCases.JMB_CASignUp_002" />
		</classes>
	</test>
</suite> <!-- Suite --> 
